<div class="wp-pagenavi">
<span class="pages">Page <%=params[:page].to_i == 0 ? 1 : params[:page]%> sur <%=(Event.all.length.to_f / 5.0).ceil%></span>


<a class="first" href="/evenements/">First</a>
<%if params[:page].to_i > 1%>
<a class="previouspostslink" rel="prev" href="<%=alleventsp_path(page: (params[:page].to_i - 1))%>">&lt;</a><span class="extend">...</span>

<%(0..(params[:page].to_i - 2)).step(10).to_a.without(0).each do |a|%>
<%=link_to a, alleventsp_path(page: a), {class: "smaller page"}%>

<%end%>
<span class="extend">...</span>
<%end%>

<%((params[:page].to_i - 2)..(params[:page].to_i + 2)).select{|x|x > 1}.each do |n|%>
<%=link_to_unless_current n, alleventsp_path(page: n), {class: "page smaller"} do
("<span class=\"current\">#{n}</span>").html_safe
end%>


<%end%>

<span class="extend">...</span>
<%if (params[:page].to_i + 3).to_f.ceil(1).to_i < (Event.all.length/5 - 1)%>
<%((params[:page].to_i + 3).to_f.ceil(1).to_i..(Event.all.length/5 - 1)).step(10).without((params[:page].to_i + 3).to_f.ceil(1).to_i).each do |n|%>

<%=link_to n, alleventsp_path(page: n), {class: "larger page"}%>



<%end%>
<%end%>
<span class="extend">...</span>

<%if (Event.all.length / 5 - 1) != params[:page].to_i%>
<a class="nextpostslink" rel="next" href="<%=alleventsp_path(params[:page].to_i > 1 ? {page: (params[:page].to_i + 1)} : {})%>">&gt;</a>
<%end%>
<a class="last" href="<%=alleventsp_path(page: (Event.all.length.to_f / 5.0).ceil)%>">Last</a>
</div>