<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://www.mairie-mana.fr/xmlrpc.php" />

	<title>Accueil | Ville de Mana</title>

<!-- This site is optimized with the Yoast SEO plugin v3.3.2 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="/" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Accueil | Ville de Mana" />
<meta property="og:url" content="/" />
<meta property="og:site_name" content="Ville de Mana" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.mairie-mana.fr\/","name":"Ville de Mana","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.mairie-mana.fr\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="Ville de Mana &raquo; Flux" href="https://www.mairie-mana.fr/feed/" />
<link rel="alternate" type="application/rss+xml" title="Ville de Mana &raquo; Flux des commentaires" href="https://www.mairie-mana.fr/comments/feed/" />
<link rel="shortcut icon" href="https://www.mairie-mana.fr/main/images/favicon.ico?ver=1467063846" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.mairie-mana.fr\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.27"}};
			!function(e,o,t){var a,n,r;function i(e){var t=o.createElement("script");t.src=e,t.type="text/javascript",o.getElementsByTagName("head")[0].appendChild(t)}for(r=Array("simple","flag","unicode8","diversity"),t.supports={everything:!0,everythingExceptFlag:!0},n=0;n<r.length;n++)t.supports[r[n]]=function(e){var t,a,n=o.createElement("canvas"),r=n.getContext&&n.getContext("2d"),i=String.fromCharCode;if(!r||!r.fillText)return!1;switch(r.textBaseline="top",r.font="600 32px Arial",e){case"flag":return r.fillText(i(55356,56806,55356,56826),0,0),3e3<n.toDataURL().length;case"diversity":return r.fillText(i(55356,57221),0,0),a=(t=r.getImageData(16,16,1,1).data)[0]+","+t[1]+","+t[2]+","+t[3],r.fillText(i(55356,57221,55356,57343),0,0),a!=(t=r.getImageData(16,16,1,1).data)[0]+","+t[1]+","+t[2]+","+t[3];case"simple":return r.fillText(i(55357,56835),0,0),0!==r.getImageData(16,16,1,1).data[0];case"unicode8":return r.fillText(i(55356,57135),0,0),0!==r.getImageData(16,16,1,1).data[0]}return!1}(r[n]),t.supports.everything=t.supports.everything&&t.supports[r[n]],"flag"!==r[n]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[r[n]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(a=function(){t.readyCallback()},o.addEventListener?(o.addEventListener("DOMContentLoaded",a,!1),e.addEventListener("load",a,!1)):(e.attachEvent("onload",a),o.attachEvent("onreadystatechange",function(){"complete"===o.readyState&&t.readyCallback()})),(a=t.source||{}).concatemoji?i(a.concatemoji):a.wpemoji&&a.twemoji&&(i(a.twemoji),i(a.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='awesome-weather-css'  href='https://www.mairie-mana.fr/plugins/awesome-weather/awesome-weather.css?ver=4.5.27' type='text/css' media='all' />
<style id='awesome-weather-inline-css' type='text/css'>
.awesome-weather-wrap { font-family: 'Open Sans', sans-serif;  font-weight: 400; font-size: 14px; line-height: 14px; } 
</style>
<link rel='stylesheet' id='opensans-googlefont-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300&#038;ver=4.5.27' type='text/css' media='all' />
<link rel='stylesheet' id='theme-Quicksand-css'  href='//fonts.googleapis.com/css?family=Quicksand%3A400%2C300%2C700&#038;ver=4.5.27' type='text/css' media='all' />
<link rel='stylesheet' id='theme-chosen-css'  href='https://www.mairie-mana.fr/main/css/chosen.min.css?ver=4.5.27' type='text/css' media='all' />
<link rel='stylesheet' id='theme-magnific-css'  href='https://www.mairie-mana.fr/main/css/magnific-popup.css?ver=4.5.27' type='text/css' media='all' />
<link rel='stylesheet' id='theme-styles-css'  href='https://www.mairie-mana.fr/main/style.css?ver=4.5.27' type='text/css' media='all' />
<script type='text/javascript' src='https://www.mairie-mana.fr/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/main/js/chosen.jquery.min.js?ver=4.5.27'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/main/js/jquery.magnific-popup.min.js?ver=4.5.27'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/main/js/jquery.bxslider.min.js?ver=4.5.27'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/main/js/jquery.fullscreener.min.js?ver=4.5.27'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ajax_object = {"ajax_url":"https:\/\/www.mairie-mana.fr\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.mairie-mana.fr/main/js/functions.js?ver=4.5.27'></script>
<link rel='https://api.w.org/' href='https://www.mairie-mana.fr/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.mairie-mana.fr/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.mairie-mana.fr/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://www.mairie-mana.fr/' />
<link rel="alternate" type="application/json+oembed" href="https://www.mairie-mana.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.mairie-mana.fr%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.mairie-mana.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.mairie-mana.fr%2F&#038;format=xml" />
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-36962173-4', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body class="home page page-id-5 page-child parent-pageid-1440 page-template-default">
	<div class="wrapper">
	<header class="header">
		<div class="header-bar">
			<div class="shell">
				
<a href="/" class="logo" style="background-image: url(https://www.mairie-mana.fr/files/2015/11/logo.png);">Ville de Mana</a>
<div class="header-bar-inner clearfix">
	<div class="header-search">
		<form action="/" class="search-form" method="get" role="search"> 
	<label>
		<span class="screen-reader-text">recherche:</span> 

		<input type="text" title="recherche:" name="s" value="" id="s" placeholder="recherche" class="search-field" /> 
	</label>

	<input type="submit" value="recherche" class="search-submit" />
</form>
	</div><!-- /.header-search -->
	
			<nav class="nav-utilities">
			<ul id="menu-menu-en-tete" class="menu"><li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="/situation-et-acces/">Situation et Accès</a></li>
<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/newsletters/">Newsletters</a></li>
<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="/contact/">Contact</a></li>
</ul>		</nav><!-- /.nav-utilities -->
	
	<div class="header-weather">
		<i class="icon-weather"></i>
		
		
					<div id="awesome-weather-managf" class="awesome-weather-wrap awecf awe_tall awe_custom awe_without_stats awe-code-802 awe-desc-partiellement-nuageux awe-preset-cloudy darken" style="width: 200px; margin: 20px; float: left; color: #ffffff;  background-color: #b9d828; "><div class="awesome-weather-cover" style='background-image: url(/plugins/awesome-weather//img/awe-backgrounds/cloudy.jpg);'><div class="awesome-weather-header">Mana</div><div class="awesome-weather-current-temp"><strong>27<sup>&deg;</sup></strong></div><!-- /.awesome-weather-current-temp --><div class="awesome-weather-forecast awe_days_2 awecf">
				<div class="awesome-weather-forecast-day">
					<div class="awesome-weather-forecast-day-temp">30<sup>&deg;</sup></div>
					<div class="awesome-weather-forecast-day-abbr">Ven</div>
				</div>
				<div class="awesome-weather-forecast-day">
					<div class="awesome-weather-forecast-day-temp">30<sup>&deg;</sup></div>
					<div class="awesome-weather-forecast-day-abbr">Sam</div>
				</div></div><!-- /.awesome-weather-forecast --><div class="awesome-weather-attribution">Weather from OpenWeatherMap</div></div><!-- /.awesome-weather-cover --></div> <!-- /.awesome-weather-wrap -->
			</div><!-- /.header-weather -->
</div><!-- /.header-bar-inner -->
			</div><!-- /.shell -->			
		</div><!-- /.header-bar -->
		
			<div class="header-body">
		<div class="shell">
			<a href="#" class="btn-menu">
				<span></span>
			</a>

			<nav class="nav">
				<ul id = "menu-menu-principal" class = "menu clearfix"><li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-123"><a href="/notre-mairie/">Votre <br>Mairie</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125"><a href="/notre-mairie/organigramme/">Organigramme</a>
	<ul class="sub-menu">
		<li id="menu-item-709" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-709"><a href="/notre-mairie/organigramme/la-police-municipale/">Police municipale</a></li>
		<li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-718"><a href="/notre-mairie/organigramme/service-affaires-scolaires/">Service des affaires scolaires</a></li>
		<li id="menu-item-717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-717"><a href="/notre-mairie/organigramme/service-technique/">Service Technique</a></li>
		<li id="menu-item-716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716"><a href="/notre-mairie/organigramme/service-etats-civils/">Service Etats Civils</a></li>
	</ul>
</li>
	<li id="menu-item-1201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1201"><a href="#">Le Conseil Municipal</a>
	<ul class="sub-menu">
		<li id="menu-item-1443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443"><a href="/compte-rendu/">Comptes-rendus</a></li>
		<li id="menu-item-721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-721"><a href="/notre-mairie/conseil-municipal/equipe/">Equipe 2020-2026</a></li>
	</ul>
</li>
	<li id="menu-item-1445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445"><a href="/deliberations/">Délibérations</a></li>
</ul></div>
</li>
<li id="menu-item-821" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-821"><a href="#">Vivre <br> à Mana</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-817"><a href="#">Tourisme</a>
	<ul class="sub-menu">
		<li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a href="/vivre-a-mana/tourisme-2/le-service-municipal/">Le service municipal</a></li>
		<li id="menu-item-1147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1147"><a href="/annuarie_category/restauration/">Restauration</a></li>
		<li id="menu-item-1148" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1148"><a href="/annuarie_category/hebergement/">Hebergement</a></li>
		<li id="menu-item-524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-524"><a href="/vivre-a-mana/tourisme-2/sites-touristiques/">Sites touristiques</a></li>
		<li id="menu-item-1205" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1205"><a href="/annuarie_category/excursions-randonnees/">Excursions &#038; Randonnées</a></li>
		<li id="menu-item-2357" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2357"><a href="/category/comite-regional-ulm-guyane/">ULM Guyane</a></li>
		<li id="menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a href="/vivre-a-mana/tourisme-2/espace-infos/">Espace Infos</a></li>
	</ul>
</li>
	<li id="menu-item-1198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1198"><a href="#">Culture</a>
	<ul class="sub-menu">
		<li id="menu-item-2503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2503"><a href="/vivre-a-mana/culture/direction-affaires-culturelles/">Direction des Affaires Culturelles</a></li>
		<li id="menu-item-780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a href="/vivre-a-mana/culture/radio-ouasailles/">Radio Ouassaille</a></li>
		<li id="menu-item-1272" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1272"><a href="/annuarie_category/associations-culturelles/">Associations culturelles</a></li>
		<li id="menu-item-778" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-778"><a href="/vivre-a-mana/culture/bibliotheque-municipale/">Bibliothèque municipale</a></li>
	</ul>
</li>
	<li id="menu-item-1199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1199"><a href="#">Sport</a>
	<ul class="sub-menu">
		<li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790"><a href="/vivre-a-mana/sport/le-service-des-sports/">Le service des sports</a></li>
		<li id="menu-item-788" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-788"><a href="/vivre-a-mana/sport/infos-piscine/">Infos piscine</a></li>
		<li id="menu-item-3187" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3187"><a href="/ecole-de-football/">Ecole de football</a></li>
	</ul>
</li>
	<li id="menu-item-1200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1200"><a href="#">Vie<br> quotidienne</a>
	<ul class="sub-menu">
		<li id="menu-item-1149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1149"><a href="/annuarie_category/sante/">Santé</a></li>
		<li id="menu-item-804" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-804"><a href="/vivre-a-mana/vie-quotidienne/securite/">Sécurité</a></li>
		<li id="menu-item-803" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-803"><a href="/vivre-a-mana/vie-quotidienne/actions-sociales/">Actions sociales</a></li>
		<li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a href="/vivre-a-mana/vie-quotidienne/logements/">Logements</a></li>
		<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="/vivre-a-mana/vie-quotidienne/multimedias/">Multimédias</a></li>
	</ul>
</li>
</ul></div>
</li>
<li id="menu-item-823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-823"><a href="#">Urbanisme <br> &#038; Architecture</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-7725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7725"><a href="/urbanisme-et-architecture/avap/">AVAP</a></li>
	<li id="menu-item-8993" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8993"><a href="/oin/">OIN</a></li>
	<li id="menu-item-9860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9860"><a href="/urbanisme-et-architecture/plu/">PLU</a></li>
</ul></div>
</li>
<li id="menu-item-3798" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3798"><a href="/projet-de-territoire-2/">Projet de <br> territoire</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-3514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3514"><a href="/1-processus-delaboration/">1.Le processus d’élaboration</a></li>
	<li id="menu-item-3513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3513"><a href="/2-etat-lieux-portrait-de-territoire-a-telecharger/">2. Le Portrait de territoire</a></li>
	<li id="menu-item-3801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3801"><a href="/3-document-projet-de-territoire/">3. Le document Projet de territoire</a></li>
</ul></div>
</li>
<li id="menu-item-824" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-824"><a href="#">Service<br> Jeunesse</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-616" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a href="/service-jeunesse/presentation/">Présentation</a></li>
	<li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a href="/service-jeunesse/pole-enfance-jeunesse/">Pôle enfance Jeunesse</a></li>
</ul></div>
</li>
<li id="menu-item-825" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-825"><a href="#">Education <br> et Formation</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-625" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="/education-et-formation/avis-dexamens-de-djscs/">Avis d&rsquo;examens de la DJSCS</a></li>
	<li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="/education-et-formation/les-ecoles/">Les écoles</a></li>
	<li id="menu-item-2342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2342"><a href="http://saintjosephmana.toutemonecole.fr">Ecole Élémentaire Privée Saint Joseph</a></li>
	<li id="menu-item-612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a href="/education-et-formation/colleges-et-lycees/">Collèges</a></li>
	<li id="menu-item-2611" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2611"><a href="https://lpo-leopold-elfort.eta.ac-guyane.fr/">Lycée Polyvalent Léopold Elfort</a></li>
	<li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="/education-et-formation/la-mfr/">La MFR</a></li>
	<li id="menu-item-611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611"><a href="/education-et-formation/ateliers-chantiers-dinsertion/">Ateliers et chantiers d&rsquo;insertion</a></li>
	<li id="menu-item-613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613"><a href="/education-et-formation/formation-bafa/">Formation BAFA</a></li>
</ul></div>
</li>
<li id="menu-item-4804" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4804"><a href="/ccas/">Vie<br> Sociale</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li id="menu-item-4806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4806"><a href="/ccas/ccas-2/">CCAS</a></li>
	<li id="menu-item-4805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4805"><a href="/ccas/centre-social-makandra/">Centre Social Makandra</a></li>
</ul></div>
</li>
</ul>			</nav><!-- /.nav -->
		</div><!-- /.shell -->
	</div><!-- /.header-body -->
	<div class="mobile-nav">
		<nav class="nav">
			<ul id = "menu-menu-principal-1" class = "menu clearfix"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-123"><a href="/notre-mairie/">Votre <br>Mairie</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125"><a href="/notre-mairie/organigramme/">Organigramme</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-709"><a href="/notre-mairie/organigramme/la-police-municipale/">Police municipale</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-718"><a href="/notre-mairie/organigramme/service-affaires-scolaires/">Service des affaires scolaires</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-717"><a href="/notre-mairie/organigramme/service-technique/">Service Technique</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716"><a href="/notre-mairie/organigramme/service-etats-civils/">Service Etats Civils</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1201"><a href="#">Le Conseil Municipal</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443"><a href="/compte-rendu/">Comptes-rendus</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-721"><a href="/notre-mairie/conseil-municipal/equipe/">Equipe 2020-2026</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445"><a href="/deliberations/">Délibérations</a></li>
</ul></div>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-821"><a href="#">Vivre <br> à Mana</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-817"><a href="#">Tourisme</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a href="/vivre-a-mana/tourisme-2/le-service-municipal/">Le service municipal</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1147"><a href="/annuarie_category/restauration/">Restauration</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1148"><a href="/annuarie_category/hebergement/">Hebergement</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-524"><a href="/vivre-a-mana/tourisme-2/sites-touristiques/">Sites touristiques</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1205"><a href="/annuarie_category/excursions-randonnees/">Excursions &#038; Randonnées</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2357"><a href="/category/comite-regional-ulm-guyane/">ULM Guyane</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a href="/vivre-a-mana/tourisme-2/espace-infos/">Espace Infos</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1198"><a href="#">Culture</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2503"><a href="/vivre-a-mana/culture/direction-affaires-culturelles/">Direction des Affaires Culturelles</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a href="/vivre-a-mana/culture/radio-ouasailles/">Radio Ouassaille</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1272"><a href="/annuarie_category/associations-culturelles/">Associations culturelles</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-778"><a href="/vivre-a-mana/culture/bibliotheque-municipale/">Bibliothèque municipale</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1199"><a href="#">Sport</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790"><a href="/vivre-a-mana/sport/le-service-des-sports/">Le service des sports</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-788"><a href="/vivre-a-mana/sport/infos-piscine/">Infos piscine</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3187"><a href="/ecole-de-football/">Ecole de football</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1200"><a href="#">Vie<br> quotidienne</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1149"><a href="/annuarie_category/sante/">Santé</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-804"><a href="/vivre-a-mana/vie-quotidienne/securite/">Sécurité</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-803"><a href="/vivre-a-mana/vie-quotidienne/actions-sociales/">Actions sociales</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a href="/vivre-a-mana/vie-quotidienne/logements/">Logements</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="/vivre-a-mana/vie-quotidienne/multimedias/">Multimédias</a></li>
	</ul>
</li>
</ul></div>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-823"><a href="#">Urbanisme <br> &#038; Architecture</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7725"><a href="/urbanisme-et-architecture/avap/">AVAP</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8993"><a href="/oin/">OIN</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9860"><a href="/urbanisme-et-architecture/plu/">PLU</a></li>
</ul></div>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3798"><a href="/projet-de-territoire-2/">Projet de <br> territoire</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3514"><a href="/1-processus-delaboration/">1.Le processus d’élaboration</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3513"><a href="/2-etat-lieux-portrait-de-territoire-a-telecharger/">2. Le Portrait de territoire</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3801"><a href="/3-document-projet-de-territoire/">3. Le document Projet de territoire</a></li>
</ul></div>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-824"><a href="#">Service<br> Jeunesse</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a href="/service-jeunesse/presentation/">Présentation</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a href="/service-jeunesse/pole-enfance-jeunesse/">Pôle enfance Jeunesse</a></li>
</ul></div>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-825"><a href="#">Education <br> et Formation</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="/education-et-formation/avis-dexamens-de-djscs/">Avis d&rsquo;examens de la DJSCS</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="/education-et-formation/les-ecoles/">Les écoles</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2342"><a href="http://saintjosephmana.toutemonecole.fr">Ecole Élémentaire Privée Saint Joseph</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a href="/education-et-formation/colleges-et-lycees/">Collèges</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2611"><a href="https://lpo-leopold-elfort.eta.ac-guyane.fr/">Lycée Polyvalent Léopold Elfort</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="/education-et-formation/la-mfr/">La MFR</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611"><a href="/education-et-formation/ateliers-chantiers-dinsertion/">Ateliers et chantiers d&rsquo;insertion</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613"><a href="/education-et-formation/formation-bafa/">Formation BAFA</a></li>
</ul></div>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4804"><a href="/ccas/">Vie<br> Sociale</a>
<div class="dd-wrapper"><ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4806"><a href="/ccas/ccas-2/">CCAS</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4805"><a href="/ccas/centre-social-makandra/">Centre Social Makandra</a></li>
</ul></div>
</li>
</ul>		</nav><!-- /.nav -->

		<nav class="nav-utilities">
			<ul id="menu-menu-en-tete-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="/situation-et-acces/">Situation et Accès</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/newsletters/">Newsletters</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="/contact/">Contact</a></li>
</ul>	
		</nav><!-- /.nav -->

		<div class="header-search">
			<form action="/" class="search-form" method="get" role="search"> 
	<label>
		<span class="screen-reader-text">recherche:</span> 

		<input type="text" title="recherche:" name="s" value="" id="s" placeholder="recherche" class="search-field" /> 
	</label>

	<input type="submit" value="recherche" class="search-submit" />
</form>
		</div><!-- /.header-search -->
	</div><!-- /.mobile-nav -->
	</header><!-- /.header -->

	
<main class="main">
<div class="shell">
		<div class="content">
	<%=yield%>
	</div> <!-- content -->
		<div class="sidebar sidebar-left">
	
	<aside class="widget widget_steps">
			<h3 class="widgettitle">
		vos démarches	</h3><!-- /.widgettitle -->
		
		<ul>
												<li>
												<a href="/naissance/">
															<img width="41" height="42" src="https://www.mairie-mana.fr/files/2015/11/widget_steps1.png" class="attachment-menu-image size-menu-image" alt="widget_steps1" />							
															<span>naissance</span>
													</a>
					</li>
																<li>
												<a href="/livret-de-famille/">
															<img width="53" height="42" src="https://www.mairie-mana.fr/files/2015/11/widget_steps2.png" class="attachment-menu-image size-menu-image" alt="widget_steps2" />							
															<span>livret de famille</span>
													</a>
					</li>
																<li>
												<a href="/cnipasseport/">
															<img width="46" height="30" src="https://www.mairie-mana.fr/files/2015/11/widget_steps3.png" class="attachment-menu-image size-menu-image" alt="widget_steps3" />							
															<span>Carte nationale d’identité</span>
													</a>
					</li>
																<li>
												<a href="/mariage/">
															<img width="66" height="48" src="https://www.mairie-mana.fr/files/2015/11/widget_steps4.png" class="attachment-menu-image size-menu-image" alt="widget_steps4" />							
															<span>mariage</span>
													</a>
					</li>
																<li>
												<a href="/etats-civils/">
															<img width="48" height="49" src="https://www.mairie-mana.fr/files/2015/11/widget_steps5.png" class="attachment-menu-image size-menu-image" alt="widget_steps5" />							
															<span>état civil</span>
													</a>
					</li>
																<li>
												<a href="/enlevement-des-epaves/">
															<img width="71" height="33" src="https://www.mairie-mana.fr/files/2015/11/widget_steps6.png" class="attachment-menu-image size-menu-image" alt="widget_steps6" />							
															<span>enlèvement d’épave</span>
													</a>
					</li>
																<li>
												<a href="/info-demat/">
															<img width="64" height="64" src="https://www.mairie-mana.fr/files/2022/05/icons8-orientation-de-la-page-64.png" class="attachment-menu-image size-menu-image" alt="Document" />							
															<span>DÉMATÉRIALISATION DES DOCUMENTS D’URBANISME</span>
													</a>
					</li>
									</ul>
	</aside>

	<aside class="widget widget_photo">
			<h3 class="widgettitle">
		Photothèque	</h3><!-- /.widgettitle -->

		<ul>
				
	<%=render partial: "mediatheque/photoaccueil",as: :photo,collection: @allimages%>
		</ul>
		
				
		<a href="/photo-archive/" class="btn-green">
			Voir +		</a>
	</aside>

	<aside class="widget widget_video">
			<h3 class="widgettitle">
		Vidéos	</h3><!-- /.widgettitle -->
		
		<div class="slider_video">
			<div class="slider-clip">
				<ul class="slides">
						<%=render partial:"mediatheque/monslidevideo",as: :video,collection: @allvideos%>
				</ul><!-- /.slides -->
			</div><!-- /.slider-clip -->

				
		<a href="/video-archive/" class="btn-green">
			Voir +		</a>
	</aside>
</div>
<div class="sidebar sidebar-right">
	
	<aside class="widget widget_communication">
			<h3 class="widgettitle">
		communiqués	</h3><!-- /.widgettitle -->

		<ul>
<%=render collection: @allpressreleases,as: :press_release,partial: "press_releases/press_release"%>
					</ul>
	</aside><!-- /.widget widget_communication -->

	<aside class="widget widget_links">
					<a href="/marches-publics/">
									<img width="15" height="13" src="https://www.mairie-mana.fr/files/2015/11/ico-letter.png" class="attachment-link-image size-link-image" alt="ico-letter" />								
									Marché public							</a>
					<a href="/evenements/agenda/">
									<img width="14" height="16" src="https://www.mairie-mana.fr/files/2015/11/ico-calendar.png" class="attachment-link-image size-link-image" alt="ico-calendar" />								
									Agenda							</a>
					<a href="/demande-de-subvention/">
								
									Demande de subvention							</a>
					<a href="/mana-a-loupe/">
								
									Mana à la loupe							</a>
					<a href="https://www.youtube.com/channel/UClrhMqnUCxI3tCbpJje9P-w">
								
									Mana Web TV							</a>
					<a href="https://mana.bibli.fr">
								
									Catalogue en ligne 							</a>
			</aside><!-- /.widget widget_links -->

	<aside class="widget widget_events">
			<h3 class="widgettitle">
		ÉVÉNEMENTS	</h3><!-- /.widgettitle -->
		
		<div class="slider_event">
			<div class="slider-clip">
				<ul class="slides">		
	<%=render partial: "events/slide",as: :event,collection: @events%>			
									</ul><!-- /.slides -->
			</div><!-- /.slider-clip -->
		</div><!-- /.slider_event -->
	</aside>

	<aside class="widget widget_info">
		<h3 class="widgettitle">
			KOUTEMANA		</h3><!-- /.widgettitle -->
		
		<div class="widget_info_inner">
												<p>
						<a href="#">
							-						</a>
					</p>
<p>
<a href="/koutemana/">
Balade sonore dans les rues de Mana
</a>
</p>
									</div><!-- /.widget_info_inner -->
	</aside><!-- /.widget widget_info -->

	</div><!-- /.shell -->
</div>
</main>
			
					<footer class="footer">
				<div class="footer-body">
					<div class="shell">
						<div class="footer-cols clearfix">
															<div class="footer-col">
																			<p><a class="footer-logo" href="/"><img class="size-full wp-image-165" src="http://www.mairie-mana.fr/files/2015/11/footer-logo.png" alt="footer-logo" width="51" height="70" /></a>Mana est une ville française, située dans le département de la Guyane et la région de la Guyane.</p>
<p><a href="/files/2016/09/Flash-code-page-officielle-facebook-mairie.png"><img class="wp-image-1488 aligncenter" /> </a><a href="/files/2016/09/Flash-code-page-officielle-facebook-mairie.png"><img class="wp-image-1488 aligncenter" src="http://www.mairie-mana.fr/files/2016/09/Flash-code-page-officielle-facebook-mairie.png" alt="flash-code-page-officielle-facebook-mairie" width="100" height="99" srcset="https://www.mairie-mana.fr/files/2016/09/Flash-code-page-officielle-facebook-mairie.png 185w, https://www.mairie-mana.fr/files/2016/09/Flash-code-page-officielle-facebook-mairie-150x150.png 150w" sizes="(max-width: 100px) 100vw, 100px" /></a></p>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
																		
																			<nav class="footer-socials">
											<ul>
																									<li>
														<a href="https://www.facebook.com/mairiemanaofficielle/" class="link" target="blank">
															<img width="41" height="42" src="https://www.mairie-mana.fr/files/2015/11/ico-facebook.png" class="attachment-footer-socials size-footer-socials" alt="ico-facebook" />														</a>
													</li>
																									<li>
														<a href="https://twitter.com/?lang=en" class="link" target="blank">
															<img width="41" height="42" src="https://www.mairie-mana.fr/files/2015/11/ico-twitter.png" class="attachment-footer-socials size-footer-socials" alt="ico-twitter" />														</a>
													</li>
																									<li>
														<a href="https://www.youtube.com/channel/UClrhMqnUCxI3tCbpJje9P-w" class="link" target="blank">
															<img width="41" height="42" src="https://www.mairie-mana.fr/files/2016/09/youtube.png" class="attachment-footer-socials size-footer-socials" alt="youtube" />														</a>
													</li>
																							</ul>
										</nav><!-- /.footer-socials -->
																	</div><!-- /.footer-col -->
														
							
															<div class="footer-col">
																			<h5>
											Liens utiles										</h5>
																		
																			<nav class="footer-nav">
											<ul id="menu-menu-pied-de-page" class="menu"><li id="menu-item-1004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1004"><a href="/mentions-legales/">Mentions légales</a></li>
<li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="/contact/">Contact</a></li>
<li id="menu-item-1008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1008"><a href="http://www.emairie.fr">E-Mairie 2.0</a></li>
<li id="menu-item-989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-989"><a href="http://netactions.net">Netactions</a></li>
<li id="menu-item-990" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-990"><a href="https://www.ctguyane.fr/">Region</a></li>
<li id="menu-item-991" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-991"><a href="http://www.georgespatient.fr/">Blog du sénateur</a></li>
</ul>										</nav><!-- /.footer-nav -->
																			<nav class="footer-nav">
																					</nav><!-- /.footer-nav -->
																	</div>
														
														
															<div class="footer-col">
																			<h5>
											Dernières Actualités										</h5>
									
									<ul class="footer-posts">
																					<li>
												<p>
													<a href="/planning-de-tournee-de-croix-rouge-a-mana-3/">
														PLANNING DE TOURNÉE DE LA CROIX ROUGE À MANA													</a>
													
												</p>

												<p>
													15 septembre 2022 - 
													
													<a href="/planning-de-tournee-de-croix-rouge-a-mana-3/#respond">0 Commentaire</a>												</p>
											</li>
																					<li>
												<p>
													<a href="/nformation-coupure-de-courant-travaux/">
														INFORMATION &#8211; COUPURE DE COURANT POUR TRAVAUX													</a>
													
												</p>

												<p>
													13 septembre 2022 - 
													
													<a href="/nformation-coupure-de-courant-travaux/#respond">0 Commentaire</a>												</p>
											</li>
																			</ul><!-- /.footer-posts -->
								</div>
														
							
															<div class="footer-col footer-credits">
									
																			<a href="#" target="_blank">
									
										<img width="215" height="70" src="https://www.mairie-mana.fr/files/2015/11/footer-logo1.png" class="attachment-footer-logo size-footer-logo" alt="footer-logo1" />									
																			</a>
																		
									<div class="footer-inner">
																																	<a href="#" target="_blank">
																						
												<img width="87" height="59" src="https://www.mairie-mana.fr/files/2015/11/footer-logo2.png" class="attachment-footer-logo size-footer-logo" alt="footer-logo2" />
																							</a>
																																												<a href="#" target="_blank">
																						
												<img width="62" height="59" src="https://www.mairie-mana.fr/files/2015/11/footer-logo3.png" class="attachment-footer-logo size-footer-logo" alt="footer-logo3" />
																							</a>
																															
																					<p>Ce site a été cofinancé par<br />
 l’UNION EUROPEENE et la REGION GUYANE</p>
																			</div><!-- /.footer-inner -->
								</div>
													</div>
					</div><!-- /.shell -->
				</div><!-- /.footer-body -->
				
									<div class="footer-bar">
						<div class="shell">
							<div class="copyright">
								<p>Tous droits réservés © 2022 Mairie de Mana <strong>&#8211;</strong> Crédit photo <a href="/" target="_blank">Commune de MANA </a> <strong>&#8211;</strong> Site réalisé par <a href="http://www.netactions.net/" target="_blank">Netactions</a></p>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
<div id="sconnect-is-installed" style="display: none;"></div>
							</div><!-- /.copyright -->
						</div><!-- /.shell -->
					</div><!-- /.footer-bar -->
							</footer><!-- /.footer -->
			</div><!-- /.wrapper -->
	<script type='text/javascript' src='https://www.mairie-mana.fr/plugins/akismet/_inc/form.js?ver=3.1.11'></script>


	<script type='text/javascript' src='https://www.mairie-mana.fr/wp-includes/js/comment-reply.min.js?ver=4.5.27'></script>
<script type='text/javascript' src='https://www.mairie-mana.fr/wp-includes/js/wp-embed.min.js?ver=4.5.27'></script>
	
	</body>
</html>
